.theme-dark {
  --custom-theme-base-color: {{background}} !important;

  --background-base-lowest: {{background}} !important;
  --background-base-low: {{color0}} !important;
  --background-base-lower: {{background}} !important;
  --background-accent: {{color5}} !important;
  --background-surface-high: {{background}} !important;
  --background-surface-higher: {{background}} !important;
  --background-surface-highest: {{color4}} !important;

  --background-primary: {{background}} !important;
  --background-primary-alt: {{background}} !important;
  --background-secondary: {{color0}} !important;
  --background-secondary-alt: {{color1}} !important;
  --background-tertiary: {{color1}} !important;
  --background-floating: {{color1}} !important;
  --background-modifier-hover: {{color1}} !important;
  --background-modifier-active: {{color4}} !important;
  --background-modifier-selected: {{color4}} !important;
  --background-modifier-accent: {{color5}} !important;
  --channeltextarea-background: {{color1}} !important;
  --background-modifier-border: {{color8}} !important;
  --border-muted: {{color8}} !important;
  --border-subtle: {{color8}} !important;
  --border-normal: {{color8}} !important;
  --border-strong: {{color8}} !important;
  --border-focus: {{color5}} !important;
  --text-normal: {{foreground}} !important;
  --text-muted: {{color8}} !important;
  --text-faint: {{color8}} !important;
  --text-link: {{color4}} !important;
  --text-positive: {{color2}} !important;
  --text-warning: {{color3}} !important;
  --text-danger: {{color9}} !important;
  --header-primary: {{foreground}} !important;
  --header-secondary: {{color8}} !important;
  --interactive-normal: {{foreground}} !important;
  --interactive-hover: {{color5}} !important;
  --interactive-active: {{color5}} !important;
  --interactive-muted: {{color8}} !important;
  --brand-experiment: {{color5}} !important;
  --brand-experiment-hover: {{color4}} !important;
  --brand-experiment-active: {{color5}} !important;
  --brand-experiment-600: {{color5}} !important;
  --brand-experiment-560: {{color5}} !important;
  --brand-experiment-500: {{color5}} !important;
  --brand-experiment-430: {{color4}} !important;
  --brand-experiment-400: {{color4}} !important;
  --accent: {{color5}} !important;
  --green: {{color2}} !important;
  --red: {{color9}} !important;
  --yellow: {{color3}} !important;
  --spinner-default: {{color5}} !important;
}

