[main]
font=Inter:size=24
use-bold=yes
layer=top
icons-enabled=no
lines=24
width=40
horizontal-pad=16
vertical-pad=16
inner-pad=12
letter-spacing=0.4
anchor=center
match-counter=yes
hide-before-typing=no
show-actions=no
sort-result=yes
match-mode=fzf

[colors]
background={{background}}f2
text={{foreground}}ff
prompt={{color8}}ff
placeholder={{color8}}ff
input={{foreground}}ff
message={{color8}}ff
match={{color3}}ff
selection={{color5}}ff
selection-text={{background}}ff
selection-match={{color3}}ff
border={{color5}}ff
counter={{color8}}ff

[border]
width=1
radius=0
selection-radius=0

