shell_integration no-rc
confirm_os_window_close 0
font_family      Inter
font_size        13.0
background       {{background}}
foreground       {{foreground}}
cursor           {{color5}}
cursor_text_color {{background}}
selection_background {{color5}}
selection_foreground {{background}}
active_tab_foreground {{color5}}
color0 {{color0}}
color1 {{color4}}
color2 {{color5}}
color3 {{color3}}
color4 {{color4}}
color5 {{color5}}
color6 {{color6}}
color7 {{color7}}
color8 {{color8}}
color9 {{color9}}
color10 {{color10}}
color11 {{color11}}
color12 {{color12}}
color13 {{color13}}
color14 {{color14}}
color15 {{color15}}

